.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: linear-gradient(162deg, rgba(75, 67, 193, 0.9809173669467787) 0%, rgba(58, 58, 194, 1) 32%, rgba(58, 110, 195, 1) 56%); */
  /* color: white; */
  text-align: center;
}

.heading {
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.coming-soon {
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}