@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: auto;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow: hidden;
}

/* Color Change on Countdown */
@keyframes fadeIn {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes lottery-wheel {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(-10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.lottery-wheel {
  animation: lottery-wheel 0.5s ease-in-out;
}

.fade-in {
  animation: fadeIn 1s infinite;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e0f7fa;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #039be5;
  border-radius: 10px !important;
  border: 3px solid #e0f7fa !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0288d1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #039be5 #e0f7fa;
  /* thumb color, track color */
}

/* For Internet Explorer and Edge (before Chromium) */
::-ms-scrollbar {
  width: 12px;
}

::-ms-scrollbar-track {
  background: #e0f7fa;
  border-radius: 10px !important;
}

::-ms-scrollbar-thumb {
  background-color: #039be5;
  border-radius: 10px !important;
  border: 3px solid #e0f7fa !important;
}